{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": "off",
    "max-len": ["error", { "code": 100 }],
    "new-cap": ["error", { "capIsNew": false }],
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "before"],
    "semi": ["error", "never"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "quote-props": ["error", "as-needed"],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ]
  }
}
